{% extends 'base-admin.html.twig' %}

{% block title %}Nouveau Categorie{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1><i class="green">Ajouter une Categorie</i></h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">Retour</a>
{% endblock %}
